/venv/
/.venv/
/.idea/
/dist/
/src/mko_get_mediascope_data.egg-info/
/mko_get_mediascope_data.egg-info/
yproject.toml
/tests/tests.py
data/output/*
!data/output/.gitkeep
mko_get_mediascope_data/settings/connections/mediascope.json
*mediascope.json