/venv/
/.venv/
/.idea/
/dist/
/mko_get_mediascope_data.egg-info/
yproject.toml
/tests/tests.py
data/*
!data/output/.gitkeep
mko_get_mediascope_data/settings/connections/mediascope.json
*mediascope.json
/mko_get_mediascope_data/settings/connections/mediascope2.json
